@import "tailwindcss";

:root {
  --background: #071e3d;
  --foreground: #ededed;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
